nav{
    background-color: rgb(161, 178, 229);
    color: #fff;
    padding: 20px;
    margin: 10px;
    width: 80%;
}

a{
   color: #fff; 
   margin-left: 20px;
   font-size: 1.4rem;
   padding: 4px 10px;
   border-width: 2px;
   border-color: #fff;
}

a:hover{
    color: rgb(6, 6, 215);
    text-decoration: none;
}

#home_id{
    border-style:solid ;
}
#about_id{
    border-style: dotted;
}
#blog_id{
    border-style: double;
}
#contact_id{
    border-style: groove;
}
#login_id{
    border-style: dashed;
}
