button {
    padding: 15px 25px;
    background-color: rgba(17, 64, 183, 0.797);
    color: #fff;
    border: none;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease; 
}

button:hover {
    padding: 17px 28px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.8);
}